<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blog</title>

<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        {# MEDIUM STYLE EDITOR#}
        <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">


        {# Custom CSS#}
        <link rel="stylesheet" href="{% static 'css/newblog.css' %}">




        {# Fonts#}
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">


</head>
<body>
<body>
<style>
body{
/* background:#657a72; */
background:#AA96DA;
}
    #name{
 position: absolute;
  top: 1px;
  left: -60px;
   font-size: 18px;
   color: #C7D3D4FF;
     text-transform: uppercase;

}
#des{
position: absolute;
top: -20px;
  left: -60px;
   font-size: 14px;
   color: #C7D3D4FF;
     text-transform: uppercase;

}


</style>
<div class="whole">

        <header>
                <div class="container">
      <h1 class="logo"></h1>

      <nav>
        <ul>
                         <li id="des"><p>a wbsite by</p></li>

             <li id="name"><p>Nischith M k</p></li>
            <div class="dropdown">
                <li><a href="{% url 'post_list' %}">Home</a></li>
                <div class="dropdown-content">
                    <a href="{% url 'about' %}">About</a>



                         </div>
                                </div>

    {% if user.is_authenticated %}
            <div class="dropdown">
             <li><a href="{% url 'post_list' %}">My Blog</a></li>
                <div class="dropdown-content">
    <a href="{% url 'post_new' %}">New Post</a>
        <a href="{% url 'post_draft_list' %}">Drafts</a>
                    </div>
                                </div>
        <li><a style="color: #c7d3d4;" href="{% url 'logout' %}">Log out</a></li>
        <li><a>Welcome: {{ user.username }}</a></li>
    {% else %}
    <li><a  href="{% url 'user_login' %}"><span class="glyphicon glyphicon-user"></span> login</a></li>
    {% endif%}

</ul>
       </nav>
    </div>

</header>

<!--content-->
<div class="content container">
    <div class="row">
        <div class=" col-md-8">
            <div class="blog_posts">

                {% block content %}
                {% endblock %}
            </div>

        </div>
    </div>
</div>
</div>
</div>
</body>
</html>